a:hover,
a:focus {
    /* border: 2px solid red; */
    background-color: #F2A900 !important;
    color: #330072 !important;
}

input:hover,
input:focus,
input:active {
    background-color: #F2A900 !important;
    color: #330072 !important;
}

button:hover,
button:focus,
button:active {
    background-color: #F2A900 !important;
    color: #330072 !important;
}